body {
  background-color: #fefefe;
}
header {
  display: flex;
  justify-content: flex-end;
  background-color: #fefefe;
  width: 100%;
  height: 80px;
}
header .Opcion1 {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}
header .Opcion1 a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
header .Opcion1 .menuicono {
  background-image: url(https://static.thenounproject.com/png/756729-200.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 35px;
  height: 35px;
}
header .Opcion1 .usua img {
  border: radius 50%;
  margin-left: 10px;
  width: 32px;
  height: 32px;
}
main {
  background-color: #fefefe;
}
main .google {
  background-color: white;
  text-align: center;
}
main .cuadro {
  text-align: center;
  width: 530px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 100px;
}
main .cuadrointer {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #e1e2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .cuadro .cuadrointer input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
}
main .cuadrointer:hover {
  box-shadow: 0 1px 6px 0 #20212447;
}
main .cuadrointer .lupa {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}
main .cuadrointer .micro {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

main .boton {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
main .boton div {
  display: inline-block;
}
main .boton button {
  height: 40px;

  background-color: #f8f9fa;
  border: none;
  font-size: 14px;
  color: #3c4043;
  border-radius: 5px;
  margin-right: 20px;
}
main .boton button:hover {
  border: 1px solid #dadce0;
  box-shadow: 1px #dadce0;
  color: #20212447;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #dadce0;
  border-top: 1px solid #e4e4e4;
}
footer ul{
   margin: 10px;
   list-style: none;
   display: flex;
   padding-left: 0;
}
footer .abajo.derecha{
   justify-content: left;

}
footer .abajo.izquierda{

   justify-content: right;
}
footer ul li a{

   margin: 10px;
   color: #5f6368;
   text-decoration: none;

}
